body {
  font-family: 'Oxygen', sans-serif;
}

.jumbotron {
  background: url('bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
}

.profile-photo {
  text-align: center;
}

h1 {
  color: white;
  font-size: 70px;
  font-weight: normal;
  margin-bottom: 0;
}

.bio {
  color: white;
  font-size: 18px;
}

.me {
  height: 150px;
  border-radius: 100%;
  border-style: solid; 
  border-color: gray;
  margin-top: 40px; 
}

/* Add a gray background color and some padding to the footer */
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
